.container {position: relative;}/*盒子与图片自由放置*/
.login {
    position: absolute;
    top: 678px; /*span盒子位置*/
    left: 1005px;
    border-radius: 5px; /*圆形边框*/
    z-index: 9999; /*置于顶层*/
    background-color: rgb(255, 255, 255); /*span盒子背景色*/
    font-size: 30px; /*字体大小*/
  }
